{% extends 'log.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% form_theme registrationForm 'foundation_5_layout.html.twig' %}
    {{ form_start(registrationForm) }}
    {{ form_errors(registrationForm) }}
    <div class="form-input">
        <label for="nom">Nom<sup>*</sup></label>
        {{ form_row(registrationForm.username) }}
    </div>
    <div class="form-input">
        <label for="email">Email<sup>*</sup></label>
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="form-input">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    </div>
    <div class="form-checkbox">
        <label for="condition"><a href="{{ path('app_conditions') }}" target="_blank" class="conditions-link">Accepter les conditions générales d'utilisation</a></label>
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-button">
        <button class="btn-register" type="submit"> S'inscrire</button>
    </div>
    <div class="separator-links"><span class="trait-left"></span><span class="text-link">OU</span><span class="trait-right"></span></div>
    <div class="form-button">
        <button class="btn-register-link" type="submit"><i class="fab fa-google"></i>&ensp;S'inscrire avec Google</button>
    </div>
    <div class="form-button">
        <button class="btn-register-link" type="submit"><i class="fab fa-facebook"></i>&ensp; S'inscrire avec Facebook</button>
    </div>
    <div class="form-button">
        <button class="btn-register-link" type="submit"><i class="fab fa-apple"></i>&ensp;S'inscrire avec Apple</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
