<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MealSaveurs{% endblock %}</title>
        <link rel="stylesheet" href="https://use.typekit.net/lsx5uqh.css">
        <script src="https://kit.fontawesome.com/4eabc7f9ab.js" crossorigin="anonymous"></script>
        <!-- <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>-->
        <link rel="icon" href="{{ asset("assets/icons/logo-mealsaveurs.ico") }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ asset("assets/css/profile.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/css/sidebar.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/css/header.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/css/global.css") }}">
    </head>
    <body>
        {{ include("/partials/_sidebar.html.twig") }}
        {{ include("/partials/_header.html.twig") }}
        <main>
            <section class="block-body">
            {% block body %}{% endblock %}
            </section>
        </main>
        <script src="{{ asset("assets/js/global.js") }}"></script>
    </body>
</html>
