<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MealSaveurs{% endblock %}</title>
    <link rel="stylesheet" href="https://use.typekit.net/lsx5uqh.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ asset("assets/icons/logo-mealsaveurs.ico") }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ asset("assets/css/global.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/registration.css") }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ asset("assets/js/global.js") }}"></script>
</body>
</html>
